.flex-container{
    display: flex;
    background-color: slategrey;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container > section {
    background-color: yellow;
    padding: 10px;
    border: 1px solid white;
    margin: 10px;
    font-size: 2rem;
}